.array-container{
    padding-top: 20px;
    margin: auto;
    /* padding-left: 20rem; */
    width: auto;
    justify-content: center;
}
.array-item{
    margin: auto 1px;
    width: 4px;
    display: inline-block; 
    
}
